[Unit]
Description=Mars Rover Camera Streaming Service
After=network.target NetworkManager.service

[Service]
Type=simple
User=rocketrymember
WorkingDirectory=/home/rocketrymember/BotRCode/MarsRoverV2
# Use the python path inside your venv
ExecStart=/home/rocketrymember/mars_rover_venv/bin/python3 main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target